html{
    width: 300px;
    align-content: center;
}
head {
    h1 {
        text-align: center;
    }
}
button {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin:10px;
    background-color:white;
}
.createAnAccount {
    display:none;
}
.otherQuestion {
    display: none;
}